# File /etc/systemd/system/alarm_server.service
#
# After changes
#   sudo systemctl daemon-reload
#
# Start/status/stop
#   sudo systemctl start alarm_server.service
#   sudo systemctl status alarm_server.service
#   sudo systemctl stop alarm_server.service
#
# Start when computer boots:
#   sudo systemctl enable alarm_server.service
#
# Log file:
#   less +GF /home/controls/css/phoebus-alarm-server/console.log
#
# Console:
#   telnet localhost 4609

[Unit]
Description=alarm service
Documentation=https://github.com/shroffk/phoebus/tree/master/services/alarm-server
Wants=network-online.target kafka.service
After=kafka.service

[Service]

Environment=JAVA_HOME=/opt/css/lib/jvm/jdk-11.0.2
Environment=PATH=/opt/css/lib/jvm/jdk-11.0.2/bin:/usr/bin:/usr/local/bin
Environment=SERVER=/opt/css/lib/phoebus/services/alarm-server
Environment=PORT=4609

Environment=SETTINGS=/opt/css/preferences/accl/settings.ini
Environment=CONFIG=NSLS2_OPR

User=root
Group=root

ExecStart=/usr/bin/procServ --foreground --noautorestart --name alarm-server --chdir ${SERVER} --logfile ${SERVER}/console.log ${PORT} ./alarm-server.sh -settings ${SETTINGS} -config ${CONFIG}


# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
