# /etc/systemd/system/zookeeper.service
#
# Start/status/stop
#   sudo systemctl start zookeeper.service
#   sudo systemctl status zookeeper.service
#   sudo systemctl stop zookeeper.service
#
# Start when computer boots:
#   sudo systemctl enable zookeeper.service
#
# When running, it should listen on localhost:2181
#   netstat -an | fgrep 2181


[Unit]
Description=Apache Zookeeper server (Kafka)
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=root
Group=root

Environment=JAVA_HOME=/opt/css/lib/jvm/jdk-11.0.2
Environment=PATH=/opt/css/lib/jvm/jdk-11.0.2/bin:/usr/bin:/usr/local/bin

ExecStart=/opt/css/lib/kafka_2.11-2.1.0/bin/zookeeper-server-start.sh /opt/css/lib/kafka_2.11-2.1.0/config/zookeeper.properties
ExecStop=/opt/css/lib/kafka_2.11-2.1.0/bin/zookeeper-server-stop.sh

[Install]
WantedBy=multi-user.target

